/*
декоративные элементы
*/
@color-2: #00BCB2;
@color-3: #36758C; // синий текст иконок

.line-bottom-1 {
    border-bottom: 2px solid @color-2; 
}

.line-bottom-2 {
    border-bottom: 2px solid @color-3; 
}


