@font-size1: 14px;
@font-size2: 20px;
@font-size3: 24px;
@font-size4: 40px;
@font-size5: 64px;
@color-1: #CCCCCC; // серый
@color-2: #00BCB2; // морская волна 
@color-3: #36758C; // синий текст иконок
@color-4: #1A252B; // фон футера

@font1-family: 'Montserrat', sans-serif;
@font2-family: 'Raleway', sans-serif;

@footer-height: 250px;

.footer {
    font-size:  @font-size2;
    font-family: @font2-family;
    background-color: @color-4;
    color: @color-1;
    min-height: @footer-height; 
    border-width: 0px;
    border-radius: 0px; 
    .footer-top {
        .block-phone {
            font-family: @font1-family;
            font-size:  @font-size3;
        }
    }
    .footer-bottom {
        min-height: 90px;   
        border-bottom: 3px solid @color-4;
        .nav-link {
            font-weight: 600; /* Жирное начертание */
            padding-left: 8px;
            padding-right: 8px;
        }
        .nav-item {
            &:hover {           
                padding-bottom: 1px;
                border-bottom: 3px solid #00BCB2;
            }
        }
    } 
    .block1 {
        border: 1px solid #ccc;
    } 
    .block2 {
        border: 1px solid red;
    }
    .block3 {
        border: 1px solid #ccc;
    }
    .address {
        font-size:  @font-size1; 
    }

    .copywriter {
        font-size:  @font-size1; 
    }
    .icon {
        max-width: 40px;
    }
    .block-phone {
        font-family: @font1-family;
        font-size:  @font-size3;
    }
    .footer-btn {
        font-size: @font-size1;  
        font-stretch: expanded; // широкий текст
        background-color: @color-2;
        color: white;
        width: 150px;
        border-radius: 0 20px 0 20px;
        border: 2px solid @color-4;
        &:hover {
            background-color: #FFFFFF; 
            border: 2px solid @color-2;
            color: #000;
        }
    }
}

@media (max-width: 1199px) {
    .footer {
        font-size:  @font-size1;
            .block-phone {
                font-size:  @font-size2;
            }
            .nav-link {
                padding-left: 6px;
                padding-right: 6px;
            }
    }
}

@media (max-width: 991px) {
    .footer {
            .nav-link {
                font-size:  @font-size2;
            }
    }
}
