@font-size1: 14px;
@font-size2: 18px;
@font-size3: 24px;
@font-size4: 96px;
@color-1: #F8F9FA; // серый верх
@color-2: #46718C;
@color-3: #D2E8F2;
@color-4: #79A62F;
@color-5: #85B634;
@font1-family: 'Montserrat', sans-serif;
@font2-family: 'Raleway', sans-serif;

.header {
    font-size:  @font-size2;
    font-family: @font2-family;
    border-width: 0px;
    border-radius: 0px;  
    font-size:  @font-size2;
    .header-top {
        background-color: @color-1;
        min-height: 45px; 
        .block-phone {
            font-family: @font1-family;
                font-size:  @font-size3;
        }
        
    }
    .header-bottom {
        min-height: 90px;   
        border-bottom: 3px solid @color-1;
        .nav-link {
            padding-left: 8px;
            padding-right: 8px;
        }
        .header-btn {
            font-size: @font-size1;   
            background-color: @color-4;
            color: white;
            width: 140px;
            &:hover {
                background-color: @color-5; 
                color: #F2F2F2;
            }
        }  
    } 
}

@media (max-width: 991px) {
    .header {
        .header-btn {
        }
    }
}

@media (max-width: 767px) {
    .header {
        .header-btn {
        }
    }
}

@media(max-width:575px) {
    .header {
        // position: relative !important; 
    }
}

.my-btn1 {
    /* background-color: @color-4;
     color: white;
     width: 240px;
     height: 100%;
     font-size: @font-size2; 
     border-radius: 6px;
     &:hover {
         background-color: @color-5;
         color: white;
     }*/
}

.my-logo {
    max-width: 120px;
    height: auto;
}