@min-height-1: 570px; 

.parallax_block76 {
    min-height: @min-height-1; 

    background-attachment: fixed;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: cover; 
}

.parallax1 {
    background-image: url("../images/parallax.jpg");

    .parallax_block76();
}