@font-size1: 14px;
@font-size2: 20px;
@font-size3: 24px;
@font-size4: 32px;
@font-size5: 40px;
@font-size6: 64px;

@color-1: #CCCCCC; // серый
@color-2: #00BCB2; // морская волна 
@color-3: #36758C; // синий текст иконок
@color-4: #1A252B; // фон футера
@color-33: #D2E8F2;

@font1-family: 'Montserrat', sans-serif;
@font2-family: 'Raleway', sans-serif;


.caption_block {
    font-family: @font1-family;
    color: @color-3;
    text-shadow: 1px 1px 2px #999, 0 0 1em #CCC; /* Параметры тени */
    font-weight: 600; /* Жирное начертание */
}

html,
body {
    height: 100%;
    font-family: @font2-family;
}

.img-card {
    width: 200px;
    height: 200px;
    overflow: hidden;
    .img1{
        max-width: 100%;
        overflow: hidden;
    }
}

.my-btn {
    font-size: @font-size1;  
    font-stretch: expanded; // широкий текст
    background-color: @color-2;
    color: white;
    width: 160px;
    border-radius: 0 20px 0 20px;
    border: 2px solid transparent;
    &:hover {
        background-color: #FFFFFF; 
        border: 2px solid @color-2;
        color: #000;
    }
}  

.wrapper-card-1 {
    width: 50%;
    height: auto;
    overflow: hidden;
    img {
        width: 100%; /* Ширина изображений */
        height: 100%; /* Высота изображении */
        object-fit: cover; /* Вписываем фотографию в область */
    }
}


.gray_background {
    background-color: @color-1;
}

.container-fluid {
    .breadcrumb {   
        background-color: transparent;
        padding-left: 50px;
        margin-top: 30px;
        font-family: @font2-family;
        font-size:  @font-size1;
        li {
            padding-left: 5px;
        }
    }
}


/* заголовок текста, страницы*/
.caption-1 {
    .caption_block();
    font-size:  @font-size5;
}

.caption-2 {
    .caption_block();
    font-size:  @font-size4;
}

.caption-3 {
    .caption_block();
    font-size:  @font-size6;
}

.caption-w {   
    .caption-1 {
        color: @color-3;
        text-shadow: 1px 1px 2px #999, 0 0 1em #CCC; /* Параметры тени */
    }

    .caption-2 {
        color: @color-3;   
        text-shadow: 1px 1px 2px #999, 0 0 1em #CCC; /* Параметры тени */
    }

    .caption-3 {
        color: #FFF;
        text-shadow: 1px 1px 2px black, 0 0 1em #CCC; /* Параметры тени */
    }
}

.site-login {
    margin-top: 100px;
}


.site-contact {
    font-family: @font2-family;
    margin-top: 30px;
    font-size:  @font-size3;
    
    .info {
        color: #FFF;
        background-color: #FFF;
        color: black;
    }
    .line-bottom-2 {
        border-bottom-color: #FFF;
    }
}

.site-about {
    font-family: @font2-family;
    font-size:  @font-size3;
    margin-top: 30px;
    position: relative;
    
    .img1 {
        background-image: url('/images/about/IMG_20210130_141447.jpg');        
        min-height: 576px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0;
    }
    .about-top {
        position: absolute;
        top: 350px;
        .caption-3 {
            text-shadow: 1px 1px 2px #FFF, 0 0 1em #FFF; /* Параметры тени */
        }
        .info {
            color: #FFF;
            background-color: #FFF;
            color: black;
        }
        .line-bottom-2 {
            border-bottom-color: #FFF;
        }
    }
    .about-center {
        margin-top: 180px;
    }
    @media (max-width: 767px) {
        .about-center {
            margin-top: 240px;
        }
    }
}

.my-margin-1 {
    margin-top: -150px;
    margin-bottom: 150px;
}


.top-content {
    margin-top: -430px;
    padding-left: 80px;
    background-color: transparent;
    font-family: @font1-family;
    color: #FFF;
    text-shadow: 1px 1px 2px black, 0 0 1em @color-3; /* Параметры тени */
    height: 430px;
    .cont-top {
        font-size:  @font-size6;
    }
    .cont-center {
        font-size:  @font-size5;
    }
    .cont-bottom {
        font-size:  @font-size4;
        text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */
    }
}

.paralax2-content {
    margin-top: -140px;
    font-size: @font-size4;
    background-color: transparent;
    font-family: @font1-family;
    color: @color-3;
    text-shadow: 1px 1px 2px #fff, 0 0 1em @color-3; /* Параметры тени */
    height: 140px;
    .cont2 {
        font-size: @font-size3;
    }
}

.paralax3-content {
    margin-top: -140px;
    font-size: @font-size5;
    background-color: transparent;
    font-family: @font1-family;
    color: @color-3;
    text-shadow: 1px 1px 2px #fff, 0 0 1em @color-3; /* Параметры тени */
    height: 140px;
}

.my-h1 {
    font-size: @font-size5;
}

.my-h2 {
    font-size: @font-size3;
}
.my-h3 {
    font-size: @font-size2;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto 0px;

    .container-fluid {
        padding: 0px 0px;
    }
}


.text-big  {
    text-transform: uppercase;
}

.my-background-col {
    background-color: #eee;
}


/* Карточки продукции и услуг на основном экране -->*/
.small-box-1 {
    //width: 100%;
    max-height: 500px;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    img {
        width: 100%;
        max-height: 490px;
        margin-top: 10px;
    }
}

.main-card-services {
    position: relative;
    img:hover {
        opacity: 0.9;
    }
    &:hover  .card-content-services{
        padding-top:  50px; /* Some padding */
        height: 97%;
    }
    .card-title {
        font-size: @font-size4;
        text-shadow: 1px 1px 2px @color-2, 0 0 1em #FFF; /* Параметры тени */
    }
    .card-description {
        font-size: @font-size3;
        color: yellow;
        padding-left: 5px;
        padding-right: 5px;
        text-shadow: 1px 1px 2px black, 0 0 1em #FFF; /* Параметры тени */
    }
    @media (max-width: 991px) {
        .card-title {
            font-size: @font-size3;
        }
        .card-description {
            font-size: @font-size1;
        }
        &:hover  .card-content-services{
            padding-top:  10px; /* Some padding */
        }
    }
    @media (max-width: 767px) {
        .card-title {
            font-size: @font-size3;
        }
        .card-description {
            font-size: @font-size2;
        }
        &:hover  .card-content-services{
            padding-top:  50px; /* Some padding */
        }
    }


}

.card-content-services {
    position: absolute; /* Position the background text */
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* color text */
    width: 100%; /* Full width */

    padding-top:  10px; /* Some padding */
    padding-bottom:  50px; /* Some padding */
    transition: 0.8s ease;
    overflow: hidden;
    height: 0;
}
/* <-- Карточки продукции и услуг на основном экране */

.block-text1 {
    color: @color-2;
    font-weight: 600;
}

.block-text2 {
    color: @color-3;
    font-weight: 600;
}


// логотип
.navbar-brand {
    color: @color-2;
    font-size:  @font-size3;
    .logo {
        margin-right: 0;
        padding-right: 0;
        max-width: 80px;
        height: auto;
    }
    .logo2 {
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        max-width: 250px;
        height: auto;
    }
    a {
        text-decoration: none!important; /* Отменяем подчеркивание у ссылки */
    }    
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: @font2-family;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
} 

.site-index {
    width: 100%;
    height: auto;
    .news {       
    }
}

@media (max-width: 1300px) {
    .top-content {
        .cont-top {
            font-size:  @font-size5;
        }
        .cont-center {
            font-size:  @font-size3;
        }
        .cont-bottom {
            font-size:  @font-size2;
        }
    }
    .my-btn {
        width: 110px;
    }  
}

@media (max-width: 991px) {
    .paralax2-content {
        font-size: @font-size3;
        .cont2 {
            font-size: @font-size2;
        }
    }
    .paralax3-content {
        font-size: @font-size4;
    }
    .top-content {
        margin-top: -330px;
        height: 330px;
        padding-left: 50px;
    }
    .my-btn {
        width: 160px;
    }  
}

@media (max-width: 767px) {
    .top-content {
        .cont-top {
            font-size:  @font-size3;
        }
        .cont-center {
            font-size:  @font-size2;
        }
        .cont-bottom {
            font-size:  @font-size1;
        }
    }
    .my-btn {
        width: 160px;
    }  
}

.help-block-error {
    color: red;
    
}





