.caption_block {
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
  font-weight: 600;
  /* Жирное начертание */
}
html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
.img-card {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.img-card .img1 {
  max-width: 100%;
  overflow: hidden;
}
.my-btn {
  font-size: 14px;
  font-stretch: expanded;
  background-color: #00BCB2;
  color: white;
  width: 160px;
  border-radius: 0 20px 0 20px;
  border: 2px solid transparent;
}
.my-btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #00BCB2;
  color: #000;
}
.wrapper-card-1 {
  width: 50%;
  height: auto;
  overflow: hidden;
}
.wrapper-card-1 img {
  width: 100%;
  /* Ширина изображений */
  height: 100%;
  /* Высота изображении */
  object-fit: cover;
  /* Вписываем фотографию в область */
}
.gray_background {
  background-color: #CCCCCC;
}
.container-fluid .breadcrumb {
  background-color: transparent;
  padding-left: 50px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
.container-fluid .breadcrumb li {
  padding-left: 5px;
}
/* заголовок текста, страницы*/
.caption-1 {
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
  font-weight: 600;
  /* Жирное начертание */
  font-size: 40px;
}
.caption-2 {
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
  font-weight: 600;
  /* Жирное начертание */
  font-size: 32px;
}
.caption-3 {
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
  font-weight: 600;
  /* Жирное начертание */
  font-size: 64px;
}
.caption-w .caption-1 {
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
}
.caption-w .caption-2 {
  color: #36758C;
  text-shadow: 1px 1px 2px #999, 0 0 1em #CCC;
  /* Параметры тени */
}
.caption-w .caption-3 {
  color: #FFF;
  text-shadow: 1px 1px 2px black, 0 0 1em #CCC;
  /* Параметры тени */
}
.site-login {
  margin-top: 100px;
}
.site-contact {
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
  font-size: 24px;
}
.site-contact .info {
  color: #FFF;
  background-color: #FFF;
  color: black;
}
.site-contact .line-bottom-2 {
  border-bottom-color: #FFF;
}
.site-about {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-top: 30px;
  position: relative;
}
.site-about .img1 {
  background-image: url('/images/about/IMG_20210130_141447.jpg');
  min-height: 576px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
}
.site-about .about-top {
  position: absolute;
  top: 350px;
}
.site-about .about-top .caption-3 {
  text-shadow: 1px 1px 2px #FFF, 0 0 1em #FFF;
  /* Параметры тени */
}
.site-about .about-top .info {
  color: #FFF;
  background-color: #FFF;
  color: black;
}
.site-about .about-top .line-bottom-2 {
  border-bottom-color: #FFF;
}
.site-about .about-center {
  margin-top: 180px;
}
@media (max-width: 767px) {
  .site-about .about-center {
    margin-top: 240px;
  }
}
.my-margin-1 {
  margin-top: -150px;
  margin-bottom: 150px;
}
.top-content {
  margin-top: -430px;
  padding-left: 80px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  text-shadow: 1px 1px 2px black, 0 0 1em #36758C;
  /* Параметры тени */
  height: 430px;
}
.top-content .cont-top {
  font-size: 64px;
}
.top-content .cont-center {
  font-size: 40px;
}
.top-content .cont-bottom {
  font-size: 32px;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  /* Параметры тени */
}
.paralax2-content {
  margin-top: -140px;
  font-size: 32px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #fff, 0 0 1em #36758C;
  /* Параметры тени */
  height: 140px;
}
.paralax2-content .cont2 {
  font-size: 24px;
}
.paralax3-content {
  margin-top: -140px;
  font-size: 40px;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  color: #36758C;
  text-shadow: 1px 1px 2px #fff, 0 0 1em #36758C;
  /* Параметры тени */
  height: 140px;
}
.my-h1 {
  font-size: 40px;
}
.my-h2 {
  font-size: 24px;
}
.my-h3 {
  font-size: 20px;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto 0px;
}
.wrap .container-fluid {
  padding: 0px 0px;
}
.text-big {
  text-transform: uppercase;
}
.my-background-col {
  background-color: #eee;
}
/* Карточки продукции и услуг на основном экране -->*/
.small-box-1 {
  max-height: 500px;
  margin: auto;
  padding-top: 4px;
  padding-bottom: 4px;
}
.small-box-1 img {
  width: 100%;
  max-height: 490px;
  margin-top: 10px;
}
.main-card-services {
  position: relative;
}
.main-card-services img:hover {
  opacity: 0.9;
}
.main-card-services:hover .card-content-services {
  padding-top: 50px;
  /* Some padding */
  height: 97%;
}
.main-card-services .card-title {
  font-size: 32px;
  text-shadow: 1px 1px 2px #00BCB2, 0 0 1em #FFF;
  /* Параметры тени */
}
.main-card-services .card-description {
  font-size: 24px;
  color: yellow;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 1px 1px 2px black, 0 0 1em #FFF;
  /* Параметры тени */
}
@media (max-width: 991px) {
  .main-card-services .card-title {
    font-size: 24px;
  }
  .main-card-services .card-description {
    font-size: 14px;
  }
  .main-card-services:hover .card-content-services {
    padding-top: 10px;
    /* Some padding */
  }
}
@media (max-width: 767px) {
  .main-card-services .card-title {
    font-size: 24px;
  }
  .main-card-services .card-description {
    font-size: 20px;
  }
  .main-card-services:hover .card-content-services {
    padding-top: 50px;
    /* Some padding */
  }
}
.card-content-services {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* color text */
  width: 100%;
  /* Full width */
  padding-top: 10px;
  /* Some padding */
  padding-bottom: 50px;
  /* Some padding */
  transition: 0.8s ease;
  overflow: hidden;
  height: 0;
}
/* <-- Карточки продукции и услуг на основном экране */
.block-text1 {
  color: #00BCB2;
  font-weight: 600;
}
.block-text2 {
  color: #36758C;
  font-weight: 600;
}
.navbar-brand {
  color: #00BCB2;
  font-size: 24px;
}
.navbar-brand .logo {
  margin-right: 0;
  padding-right: 0;
  max-width: 80px;
  height: auto;
}
.navbar-brand .logo2 {
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;
  max-width: 250px;
  height: auto;
}
.navbar-brand a {
  text-decoration: none!important;
  /* Отменяем подчеркивание у ссылки */
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.site-index {
  width: 100%;
  height: auto;
}
@media (max-width: 1300px) {
  .top-content .cont-top {
    font-size: 40px;
  }
  .top-content .cont-center {
    font-size: 24px;
  }
  .top-content .cont-bottom {
    font-size: 20px;
  }
  .my-btn {
    width: 110px;
  }
}
@media (max-width: 991px) {
  .paralax2-content {
    font-size: 24px;
  }
  .paralax2-content .cont2 {
    font-size: 20px;
  }
  .paralax3-content {
    font-size: 32px;
  }
  .top-content {
    margin-top: -330px;
    height: 330px;
    padding-left: 50px;
  }
  .my-btn {
    width: 160px;
  }
}
@media (max-width: 767px) {
  .top-content .cont-top {
    font-size: 24px;
  }
  .top-content .cont-center {
    font-size: 20px;
  }
  .top-content .cont-bottom {
    font-size: 14px;
  }
  .my-btn {
    width: 160px;
  }
}
.help-block-error {
  color: red;
}
/*# sourceMappingURL=site.css.map */